@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#a8ff78,#78ffd6);

}

body h2 {
    color: #111;
    font-size: 40px;
    font-weight: 400;
}

.color-box {
    display: flex;
    flex-direction: row;
}

.color-box div {
    margin: 15px;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    transition: 3ms linear;
}

.color-box div:nth-child(1) {
    background-color: black;
}

.color-box div:nth-child(2) {
    background-color: red;
}

.color-box div:nth-child(3) {
    background-color: blue;
}

.color-box div:nth-child(4) {
    background-color: purple;
}

.color-box div:nth-child(5) {
    background-color: yellowgreen;
}

.color-box div:hover {
    scale: 1.1;
}

.color-box div:active {
    border: 2px solid #000;
}

.container {
    margin: 50px 0;
    padding: 0;
    display: flex;
    position: relative;
}

.white-key {
    width: 40px;
    height: 120px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 0 0 6px 6px;
    margin-left: -4px;
    outline: none;
    cursor: pointer;
}

.white-key:active {
    background: #999;
}

.black-key {
    position: absolute;
    width: 24px;
    height: 80px;
    background: #000;
    border: 2px solid #000;
    border-radius: 0 0 2px 2px;
    outline: none;
    cursor: pointer;
}

.black-key:active {
    background: #000;
}

.container button:nth-child(2) {
    left: 22px;
}

.container button:nth-child(4) {
    left: 56px;
}

.container button:nth-child(7) {
    left: 130px;
}

.container button:nth-child(9) {
    left: 166px;
}

.container button:nth-child(11) {
    left: 202px;
}

.container button:nth-child(14) {
    left: 274px;
}

.container button:nth-child(16) {
    left: 310px;
}